{% extends "base.html" %}

{% block title %}<title>Flasky - Blog</title>{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1 class="text-center">Hello, Blog!</h1>
</div>

<div class="container mt-2">
    {% for post in posts %}
        <li class="posts">
            <div class="post-title">
                {{ post.title }}
            </div>
            <div class="post-date-author">
                {{ post.author.username }} - {{ moment(post.timestamp).fromNow() }}
            </div>
            <div class="post-body">
                {{ post.body|safe }}
            </div>
        </li>
    {% endfor %}
</div>
{% endblock %}