{% extends "base.html" %}

{% block title %}<title>Flasky - Blog</title>{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1>Hello, Blog!</h1>
    <p>Maecenas ornare eu risus non elementum. Sed ultrices ipsum nibh, ac tempus felis viverra sed. Cras magna lectus, mollis vel metus vel, pretium faucibus quam. Aliquam fermentum ornare ligula tempor vehicula. Maecenas et lacus purus. Nam ornare, erat sed fermentum bibendum, lectus diam consectetur magna, ut pulvinar metus sem at turpis. Phasellus vulputate sapien vitae venenatis congue. Maecenas finibus nulla elit, a vehicula mi convallis ut. Aliquam mollis orci non commodo feugiat. Cras quis maximus tortor. Vivamus rutrum turpis ut augue interdum, at pharetra ante tincidunt. Vivamus iaculis vulputate neque, id lacinia arcu lacinia eget. Integer vitae ipsum sed est aliquam pretium. Donec quis consequat tellus.</p>
</div>
{% endblock %}