{% extends "base.html" %}

{% block title %}<title>Flasky - Blog</title>{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1 class="text-center">Hello, Blog!</h1>
</div>

<div class="container mt-2">
    {% for post in posts %}
    <ul class="list-unstyled">
        <li class="media my-2">
            {% from 'bootstrap/utils.html' import render_icon %}
            <div class="mr-3">{{ render_icon('terminal', size='50px') }}</div>
            <div class="media-body">
                <h1 class="mt-0 mb-1"><a href="{{ url_for('blog')}}/{{ post.slug }}">{{ post.title }}</a></h1>
                {{ post.author.username }} - {{ moment(post.timestamp).fromNow() }}
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}