<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono&display=swap" rel="stylesheet" type="text/css"> 
            <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
        {% endblock %}

        {% block title %}{% endblock %}

        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {% from 'bootstrap/nav.html' import render_nav_item %}
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                {% from 'bootstrap/utils.html' import render_icon %}
                <div class="d-inline-block align-top">{{ render_icon('terminal', size='30') }}</div>
                Flaskp
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {{ render_nav_item('main.about', 'About') }}
                    {{ render_nav_item('main.blog', 'Blog') }}
                    {{ render_nav_item('main.projects', 'Projects') }}
                    {% if current_user.is_authenticated %}
                        {{ render_nav_item('admin.index', 'Admin') }}
                    {% endif %}
                </div>
            </div>
        </nav>
        
        {% from 'bootstrap/utils.html' import render_messages %}
        {{ render_messages() }}

        {% endblock %}

        <!-- Your page content -->
        {% block content %}{% endblock %}

        <footer class="py-4">
            <div class="container text-center">
               <small>Copyright &copy; {{ moment().format('YYYY') }} Flaskp</small>
            </div>
        </footer>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {{ moment.include_moment() }}
            {{ moment.locale('en') }}
        {% endblock %}
    </body>
</html>